@import '../../../style/variable.scss';

.subnav_div {
    @extend %subNav_block;
    margin-left: -10em;

    &__section {
        width: 100%;
        z-index: 100;
        padding: 1em;

        &__ul {
            list-style: none;
            font-size: 1em;
            display: flex;

            li {
                padding-right: 0.8em;
            }
        }
    }
}