
.subnav_div{
    display: flex;
    flex-wrap: wrap;
    top: 10em;
    z-index: 100;
    width: 60%;
    height: 30em;
    position: absolute;
    background-color: burlywood;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    &__section{
        width: 100%;
        z-index: 100;
        &__ul{
            list-style: none;
            font-size: 1em;
        }
    }
}
