@import './variable.scss';
*{
    margin: 0;
    padding: 0;
}
.section_heading{
    width: 100%;
    display: flex;
    background-color:rgb(222, 239, 240);
    height: max-content;
    align-items: center;
    justify-content: center;
    
    .div_logo{
        display: flex;
        flex:2;
        padding-left: 2em;
        justify-content: flex-start;
        align-items: center;
    }
    .div_help{
        
        @extend %heading_button
        
    }
    .div_donate{
        
        @extend %heading_button
        
    }
}
.nav_section{
    width: 100%;
    //margin-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color:rgb(94, 86, 202);
    display: flex;
    position: static;
    
    .nav_list{
        list-style: none;
        display: flex;
        //background-color:rgb(94, 86, 202);
        width: 100%;
        align-items: center;
        justify-content: center;
        li{
            width: 100%;
            //background-color:rgb(94, 86, 202);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            position:static;
            a{
                text-decoration: none;
                text-transform: capitalize;
                color: rgb(246, 249, 250);
            }
            a:hover{
                text-decoration: underline;
            }
        }
    }
}