
%heading_button{
    display: flex-start;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

%button_help_donate{
    padding: 0.5em;
    padding-left:2em;
    padding-right: 2em;
    border-radius: 10px;
}

%subNav_block{
    display: flex;
    flex-wrap: wrap;
    top: 7em;
    margin-top: 0.85em;
    padding-left: 1em;
    z-index: 100;
    width: 50%;
    height: 30em;
    position: absolute;
    background-color: burlywood;
    border-top: rgb(236, 41, 15);
    border-top-style: solid;
    border-top-width: 0.5em;
}